body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #007bff;
    font-size: 1vw;
}

.flex {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.gap-5 {
    gap: 5vw;
}

.float-r {
    float: right;
}

.mb-1 {
    margin-bottom: 1vh;
}

.fs-1 {
    font-size: 1vw;
}

.fs-2 {
    font-size: 2vw;
}

.fs-3 {
    font-size: 3vw;
}

.mt-10 {
    margin-top: 10vh;
}

.mtb-10 {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.mb-5 {
    margin-bottom: 5vh;
}

.mb-10 {
    margin-bottom: 10vh;
}

.ml-8 {
    margin-left: 8vw;
}

.w-25vw {
    width: 25vw;
}

.w-80vw {
    width: 80vw;
}

.bw {
    word-wrap: break-word;
}

.ds-b {
    display: block;
}

.red {
    color: red;
}

.ta-center {
    text-align: center;
}


.ttl {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 10vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 5vh 0;
    width: 100vw;
    box-sizing: border-box;
    background-color: orange;
}

.header-logo {
    font-size: 3vw;
    margin-left: 5vw;
    font-weight: bold;
}

.header-form {
    width: 30vw;
}

.search {
    width: 80%;
    margin: 1vh 0 1vh auto;
    display: block;
}

.search-btn {
    width: 20%;
    display: inline-block;
}



.header-nav {
    width: 20vw;
    z-index: 1;
}


.header-link {
    cursor: pointer;
}


.btn-logout {
    border: none;
    border-radius: 1vw;
    background-color: #eee;
    font-size: 1.5vw;
    font-weight: bold;
    cursor: pointer;
}


.footer {
    padding: 3vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    box-sizing: border-box;
    height: 5vh;
}

.footer-logo {
    font-size: 1vw;
    font-weight: bold;
}



.container {
    width: 100vw;
    text-align: center;
}


.recipe-card {
    background-color: aquamarine;
    border-radius: 3px;
    width: 25vw;
}


.image {
    width: 25vw;
}


.contact-form {
    width: 80%;
    margin: 0 auto;
}

.admin-comment, .user-comment {
    padding: 5vh 0 5vh;
    border-radius: 5px;
}

.admin-comment {
    margin-right: auto;
    background-color: magenta;
}

.user-comment {
    margin-left: auto;
    background-color: lightblue;
}


ul.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
}

  /* ページネーションリンク */
ul.pagination li {
    margin: 1vw;
}

  /* アクティブなページのリンク */
ul.pagination li.active a {
    font-weight: bold;
    color: #007bff;
}

  /* ページネーションリンクのホバースタイル */
ul.pagination li a:hover {
    color: #007bff;
    text-decoration: none;
}

@media screen and (max-width: 425px) {
    .header-form {
        width: auto;
    }

    .search-btn {
        width: auto;
    }
}